{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"printWidth": 100,
	"svelteStrictMode": false,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": false,
	"svelteIndentScriptAndStyles": true,
	"svelteSortOrder": "scripts-options-markup-styles"
}
