{
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "singleQuote": true,
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "bracketSameLine": false,
  "svelteIndentScriptAndStyle": true,
  "svelteSortOrder": "scripts-options-markup-styles",
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
