// Colors:
$acmBlue: #3792c1;
$acmBluer: #1e6cff;
$acmPink: #ff5969;
$acmPurple: #5f52d1;
$acmRed: #c40042;
$acmDark: #212121;
$acmLight: #ffffff;

// Fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Sizes:
$breakpoint: 768px;
$minScreenW: 280;
$maxScreenW: 1920;
$minHFontSize: 22;
$maxHFontSizeMed: 64;
$maxHFontSize: 86;
$minPFontSize: 18;
$maxPFontSize: 36;

// Mixins:
@mixin fluidSize(
  $minSize,
  $maxSize,
  $minViewportWidth: $minScreenW,
  $maxViewportWidth: $maxScreenW,
  $propName: "font-size"
) {
  #{$propName}: calc(
    #{$minSize + "px"} + (#{$maxSize} - #{$minSize}) * ((
            100vw - #{$minViewportWidth + "px"}
          ) / (#{$maxViewportWidth} - #{$minViewportWidth}))
  );
}

// Branding Macros
.brand-em {
  // `em` is short for "emphasis"
  font-weight: bold;
}

.brand-blue {
  color: $acmBlue;
}

.brand-bluer {
  color: $acmBluer;
}

.brand-pink {
  color: $acmPink;
}

.brand-purple {
  color: $acmPurple;
}

.brand-red {
  color: $acmRed;
}

.brand-dark {
  color: $acmDark;
}

.brand-light {
  color: $acmLight;
}
