@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700");

*,
html,
body,
#sapper {
  color: #212121;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.info-screen {
  display: block;
  height: 100vh;
}

:root {
  --acm-blue: #3792c1;
  --acm-bluer: #1e6cff;
  --acm-pink: #ff5969;
  --acm-purple: #5f52d1;
  --acm-red: #c40042;
  --acm-dark: #212121;
  --acm-light: #ffffff;

  --desktop-breakpoint: 768px;

  --min-p-font-size: 18px;
  --max-p-font-size: 36px;
  --min-h-font-size: 22px;
  --max-h-font-size: 86px;
  --max-h-font-size-med: 64px;
}